/* Header left icon font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

/* Something like header */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

/* for the text content */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './prism.css';

@layer components {
  .red-sunset {
    @apply bg-gradient-to-r from-[#355c7d] via-[#6c5b7b] to-[#c06c84];
  }
}

@layer utilities {
  /* for small screen size  */
  .bg-hero-img {
    background-image: url('../../public/images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* for large screen size */
  .bg-hero-img-lg {
    background-image: url('../../public/images/hero-bg-lg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  text-shadow {
    text-shadow: 2px 2px 10px;
  }
}

@layer base {
  body {
    @apply bg-gray-50;
  }

  h1,
  .h1 {
    @apply pb-4 text-center text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply text-base font-bold md:text-lg;
  }

  pre {
    @apply border-y py-2;
  }

  p {
    @apply md:text-lg;
  }

  a {
    @apply text-sky-500 hover:text-sky-600;
  }
}
